= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    = f.label "Электронная почта"
    = f.text_field :email, class: "form-control", type: "string", placeholder: "Email"
  .field.form-group
    = f.label :Имя
    = f.text_field :first_name, class: "form-control", type: "string", placeholder: "Имя"
  .field.form-group
    = f.label :Фамилия
    = f.text_field :second_name, class: "form-control", type: "string", placeholder: "Фамилия"
  .field.form-group
    = f.label :Отчество
    = f.text_field :last_name, class: "form-control", type: "string", placeholder: "Отчество"
  .field.form-group
    = f.label :Пароль
    = f.password_field :password, class: "form-control masked_input_field", placeholder: "Пароль"
  -# .field.form-group
  -#   = f.label :Повторите пароль
  -#   = f.text_field :password, class: "form-control", type: "string", placeholder: "Повторите пароль"
  .actions
    = f.submit 'Зарегистрироваться', class: "btn btn-warning"
