%p#notice= notice

%p.text-center
  %b Книга:
  = @grammar_dictionary.book.name
%p
  %b Грамматический словарь:
  = simple_format(@grammar_dictionary.dictionary)

= link_to 'Изменить', edit_grammar_dictionary_path(@grammar_dictionary), class: "btn btn-light"
\|
= link_to 'Назад', grammar_dictionaries_path, class: "btn btn-light"
